<div class="container">

  <h2 class="page-title">All Posts</h2>

  <ul class="post-list">
    <li *ngFor="let post of posts" class="post-item">
      <h3><a [routerLink]="['/posts', post.id]">{{ post.title }}</a></h3>
      <p>{{ post.content | slice:0:100 }}{{ post.content.length > 100 ? '...' : '' }}</p>
      <div class="post-meta">
        By {{ post.author }} on {{ post.createdAt | date:'medium' }}
      </div>
      <a [routerLink]="['/posts', post.id, 'edit']" class="btn btn-link p-0">
        <i class="bi bi-pencil">a</i>
      </a>
    </li>
  </ul>

  <a routerLink="/posts/create" class="btn btn-primary mt-3">+ Create New Post</a>
</div>


